<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>E-Commerce</display-name>
  <welcome-file-list>
    <welcome-file>production</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LoginErrorServlet</servlet-name>
    <servlet-class>com.controller.LoginErrorServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ProductionServlet</servlet-name>
    <servlet-class>com.controller.ProductionServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AdminManagementServlet</servlet-name>
    <servlet-class>com.controller.AdminManagementServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UsersManagementServlet</servlet-name>
    <servlet-class>com.controller.UsersManagementServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LoginErrorServlet</servlet-name>
    <url-pattern>/loginError</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ProductionServlet</servlet-name>
    <url-pattern>/production</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AdminManagementServlet</servlet-name>
    <url-pattern>/adminManagement</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UsersManagementServlet</servlet-name>
    <url-pattern>/usersManagement</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>protected production page</web-resource-name>
      <url-pattern>/production</url-pattern>
      <url-pattern>/adminManagement</url-pattern>
      <url-pattern>/usersManagement</url-pattern>
      <url-pattern>/logout</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>
				allowed User and Administrator to login in
            </description>
      <role-name>User</role-name>
      <role-name>Administrator</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>User</role-name>
  </security-role>
  <security-role>
    <role-name>Administrator</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login</form-login-page>
      <form-error-page>/loginError</form-error-page>
    </form-login-config>
  </login-config>
</web-app>